<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap" rel="stylesheet">

    <title>스파르타코딩클럽 | 주식 다나와</title>

    <!-- style -->
    <style type="text/css">
        * {
            font-family: 'Sunflower', sans-serif;
        }

        .log-in {
            float: right;
            margin: 30px;
        }

        .col-auto3 {
            color: cadetblue;
        }

        .wrap {
            padding: 0px 30px;
        }

        .comment {
            color: blue;
            font-weight: bold;
        }

        #post-box {
            width: 500px;
            margin: 20px auto;
            padding: 50px;
            border: black solid;
            border-radius: 5px;
        }

        .stock-description {
            margin-bottom: 10px;
        }
    </style>
    <script>
      $(document).ready(function () {
        $("#stock-box").html("");
        recommendStocks();
      });

      function openClose() {
        // id 값 stock-box의 display 값이 block 이면(= 눈에 보이면)
        if ($("#stock-box").css("display") == "block") {
          // post-box를 가리고
          $("#stock-box").hide();
          // 다시 버튼을 클릭하면, 박스 열기를 할 수 있게 텍스트 바꿔두기
          $("#btn-stock-box").text("추천 주식 열기");
        } else {
          // 아니면(눈에 보이지 않으면) post-box를 펴라
          $("#stock-box").show();
          // 다시 버튼을 클릭하면, 박스 닫기를 할 수 있게 텍스트 바꿔두기
          $("#btn-stock-box").text("추천 주식 닫기");
        }
      }

      function searchStocks() {
        let name = $("#search_input").val();

        $.ajax({
          type: "GET",
          url: `/api/search/${name}`,
          data: {},
          success: function (response) { // 성공하면
            $("#search-stock-box").empty()
            if (response["result"] == "success") {
              let stocks = response["stocks"];
              console.log(stocks);
              for (let i = 0; i < stocks.length; i++) {
                makeCard(stocks[i]["name"], stocks[i]["prc"], stocks[i]["eper"], stocks[i]["eps"], stocks[i]["pbr"], stocks[i]["img_src"], "search-stock-box")
              }
            } else {
              alert("서버 오류!")
            }
          }
        })
      }

      function recommendStocks() {
        $.ajax({
          type: "GET",
          url: "/api/list",
          data: {},
          success: function (response) {
            let stocks = response["stocks"];
            console.log(stocks);
            for (let i = 0; i < stocks.length; i++) {
              makeCard(stocks[i]["name"], stocks[i]["prc"], stocks[i]["eper"], stocks[i]["eps"], stocks[i]["pbr"], stocks[i]["img_src"], "recommended-stock-box")
            }
          }
        })
      }

      function makeCard(name, prc, eper, eps, pbr, img_src, target) {
        let tempHtml = `<div class="card">
                    <img class="card-img-top"
                         src="${img_src}"
                         alt="Card image cap">
                    <div class="card-body">
                        <a href="#" target="_blank" class="card-title">${name}</a>
                        <p class="card-text">
                        <div class="stock-description">- prc : ${prc}</div>
                        <div class="stock-description">- eper : ${eper}</div>
                        <div class="stock-description">- eps : ${eps}</div>
                        <div class="stock-description">- pbr : ${pbr}</div>
                        </p>
                        <button>내 주식으로 저장</button>
                    </div>
                </div>`;
        $(`#${target}`).append(tempHtml);
      }

      function saveCard(code) {
        const username = $("#user-name").val()
        if (username && username != "") {
          $.ajax({
            method: 'POST',
            url: '/mystocks',
            data: {username: username, code: code},
            success: function (response) {
              // 성공시
            }
          })
        } else {
          alert('일므을 입력해주세요!')
        }
      }
    </script>

</head>

<body>
<div class="wrap">
    <div class="log-in">
        <form>
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">Name</label>
                    <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="이름을 입력해주세요.">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">로그인</button>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">내 주식 보러가기</button>
                </div>
            </div>
        </form>
    </div>
    <div class="jumbotron">
        <h1 class="display-4">주식 다모아! </h1>
        <p class="lead">추천 주식을 확인하고 원하는 주식을 검색할 수 있는 공간이에요.</p>
    </div>
    <div id="post-box" class="form-post" style="display:none">
        <div>
            <div class="form-group">
                <label for="post-url">아티클 URL</label>
                <input id="post-url" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label for="post-comment">간단 코멘트</label>
                <textarea id="post-comment" class="form-control" rows="2"></textarea>
            </div>
            <button type="button" class="btn btn-primary" onclick="postArticle()">기사저장</button>
        </div>
    </div>
    <h2>추천 주식</h2>
    <div id="recommended-stock-box" class="card-columns"></div>
    <h2>주식 검색</h2>
    <div class="input-group mb-3">
        <input id="search_input" type="text" class="form-control" placeholder="검색할 주식을 입력하세요"
               aria-label="Recipient's username"
               aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button onclick="searchStocks()" class="btn btn-primary">검색</button>
        </div>
    </div>
    <div id="search-stock-box" class="card-columns"></div>
</div>
</body>

</html>
