<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap" rel="stylesheet">

    <title>스파르타코딩클럽 | 주식 다나와</title>

    <!-- style -->
    <style type="text/css">
        * {
            font-family: 'Sunflower', sans-serif;
        }

        .log-in {
            float: right;
            padding: 20px 40px 20px 20px;
        }

        .stock-title{
            font-size: 20px;
            margin: 10px 0px 0px 0px;
        }

        .stock-description {
            margin-bottom: 10px;
        }

        .btn-outline-secondary{
            float: right;
            margin: 0px 0px 10px 0px;
        }

        .wrap {
            padding: 80px 30px 20px 30px;
        }

        .input-group {
            width: 600px;
        }

        .recommend {
            padding: 10px 10px 10px 30px;
        }

        .search {
            padding: 10px 10px 10px 30px;
        }



        .card-deck-wrapper{
            outline-color: lightskyblue;
        }

        .card-deck{
            padding: 15px;
        }

        .card-columns{
            padding: 15px;
        }

    </style>

    <script>
        $(document).ready(function () {
            $("#stock-box").html("");
            recommendStocks();
// 엔터 누르면 입력이 되는 코드
            var input = document.getElementById("button");
// 엔터 누르면 입력이 되는 코드
            input.addEventListener("keyup", function (event) {
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                    // Cancel the default action, if needed
                    event.preventDefault();
                    // Trigger the button element with a click
                    document.getElementById("button").click();
                }
            });
            getDataAndAppendRows()
            listReview()
        })

        function openClose() {
            // id 값 stock-box의 display 값이 block 이면(= 눈에 보이면)
            if ($("#recommended-stock-box").css("display") == "block") {
                // post-box를 가리고
                $("#recommended-stock-box").hide();
                // 다시 버튼을 클릭하면, 박스 열기를 할 수 있게 텍스트 바꿔두기
                $("#btn-stock-box").text("추천 주식 열기");
            } else {
                // 아니면(눈에 보이지 않으면) post-box를 펴라
                $("#recommended-stock-box").show();
                // 다시 버튼을 클릭하면, 박스 닫기를 할 수 있게 텍스트 바꿔두기
                $("#btn-stock-box").text("추천 주식 닫기");
            }
        }

        function searchStocks() {
            let name = $("#search_input").val();

            $.ajax({
                type: "GET",
                url: `/api/search/${name}`,
                data: {},
                success: function (response) { // 성공하면
                    $("#search-stock-box").empty()    //이 부분 때문에 append되는 부분을 recommendation에서 findings로 바꾸면 문제가 생김
                    if (response["result"] == "success") {
                        let stocks = response["stocks"];
                        console.log(stocks);
                        for (let i = 0; i < stocks.length; i++) {
                            makeCard(stocks[i]["code"],stocks[i]["name"], stocks[i]["prc"], stocks[i]["eper"], stocks[i]["iper"], stocks[i]["eps"], stocks[i]["pbr"], stocks[i]["img_src"], "search-stock-box")
                        }
                    } else {
                        alert("서버 오류!")
                    }
                }
            })
        }

        function recommendStocks() {
            $.ajax({
                type: "GET",
                url: "/api/list",
                data: {},
                success: function (response) {
                    let stocks = response["stocks"];
                    console.log(stocks);
                    for (let i = 0; i < stocks.length; i++) {
                        makeCard(stocks[i]["code"], stocks[i]["name"], stocks[i]["prc"], stocks[i]["eper"], stocks[i]["iper"], stocks[i]["eps"], stocks[i]["pbr"], stocks[i]["img_src"], "recommendation")
                    }
                }
            })
        }

        function makeCard(code, name, prc, eper, iper, eps, pbr, img_src, target) {
            let tempHtml = `<div class="card">
                    <p class="stock-title" style="text-align:center;">${name}</p>
                    <img class="card-img-top"
                         src="${img_src}"
                         alt="Card image cap">
                    <div class="card-body">
                        <p class="stock-text">
                        <div class="stock-description">- 가격 : ${prc}원</div>
                        <div class="stock-description">- 추청PER : ${eper} (산업평균PER : ${iper})</div>
                        <div class="stock-description">- EPS : ${eps}</div>
                        <div class="stock-description">- PBR : ${pbr}</div>
                        </p>
                        <button onclick="saveStocks(${code})" type="button" class="btn btn-outline-secondary">내 주식으로 저장</button>
                    </div>
                </div>`;
            $(`#${target}`).append(tempHtml);
        }

        function saveStocks(code) {
            const username = $("#user_name").val()
            if (username != "") {
                $.ajax({
                    method: 'POST',
                    url: `/api/mystocks/${username}`,
                    data: {'code': code},
                    success: function (response) {
                        if (response["result"] == "success") {
                            window.location.reload();
                        } else {
                            alert("상단에 이름을 입력해주세요!")
                        }
                    }
                })
            }
        }

    </script>

</head>

<body>

<div class="log-in">
    <form>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="user_name">Name</label>
                <input type="text" class="form-control mb-2" id="user_name" placeholder="이름을 입력해주세요.">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-secondary mb-2">로그인</button>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-secondary mb-2">내 주식 보러가기</button>
            </div>
        </div>
    </form>
</div>

<div class="wrap">

    <div class="jumbotron">
        <h1 class="display-4"> 💰 주식 다모아! </h1>
        <p class="lead text-secondary"> 추천 주식을 확인하고 원하는 주식을 검색할 수 있는 공간이에요.</p>
    </div>

    <div class="recommend">
        <h2>> 추천 주식 💌</h2>
        <p class="text-secondary"> 추정 PER이 산업 평균 PER보다 낮고 PBR이 1보다 낮은 주식들을 추천해드려요!</p>
        <p class="lead">
            <button onclick="openClose()" id="btn-stock-box" type="button" class="btn btn-secondary">추천 주식 열기
            </button>
        </p>

        <div id="recommended-stock-box" class="card-deck-wrapper"  style="display:none">
            <div class="card">
                <div id="recommendation" class="card-deck "></div>
            </div>
        </div>
    </div>

    <hr class="my-4">

    <div class="search">
        <h2>> 주식 검색 💡</h2>
        <div class="input-group mb-3">
            <input id="search_input" type="text" class="form-control" placeholder="검색할 주식을 입력하세요"
                   aria-label="Recipient's username"
                   aria-describedby="basic-addon2">
            <div id = "button" class="input-group-append">
                <button onclick="searchStocks()" class="btn btn-secondary">검색</button>
            </div>
        </div>
        <!--<div id="search-stock-box" class="card-deck-wrapper">
            <div class="card">
                <div id="findings" class="card-deck "></div>
            </div>
        </div>-->
        <div id="search-stock-box" class="card-columns"></div>
    </div>
</div>
</body>

</html>
